<a href="https://colab.research.google.com/github/Trodriguez238/PROGCOM-B/blob/main/clase5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Listas
1. Un nuevo tipo de dato
2. Es mutable
3. Indexacion: hay un orden
4. Hay un numero finito de posiciciones
5.

Sintaxis


```
nombre_lista=[] #Crear lista vacía
flores=["margarita", "rosa","tulipan"]
```
Listas por extensión

In [10]:
nu=[]
for i in range (1,11):
    nu[i]= i

IndexError: list assignment index out of range

In [12]:
for i in range (10):
    nu.append(1+i)

In [13]:
nu

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
nombres=[]
for i in range(3):
    nombres.append(input("ingrese un nombre"))

ingrese un nombrecarlos
ingrese un nombreCarcas
ingrese un nombreALDANA

In [18]:
nombres

['carlos', 'Carcas', 'ALDANA']

##Indexación en listas
*Recordar que phyoton cuanta desde **0**
```
Lista=[elemento1,elemento2,elemento3]
Lista[0]=Elemento 1
Lista[3]=error fuera de rango
```

In [41]:
#Indexación negativa
Lista_num=[1,2,3,4,5,6,7,8,9,10]
Lista_num[-1]

10

In [42]:
Lista_num[-2]

9

In [44]:
Lista_num[len(Lista_num)-1]

10

In [46]:
Lista_num[::]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [47]:
#2. Obtener los pares de la lista
pares=[x for x in Lista_num if x%2==0]
pares

[2, 4, 6, 8, 10]

In [48]:
#3. Clases numeros en positivos y negativos
numeros=[-1,2,-3,4,5,6,-7,8,-9,10]
clasificacion=[("positivo",x) if x>=0 else ("negativo",x) for x in numeros]
clasificacion

[('negativo', -1),
 ('positivo', 2),
 ('negativo', -3),
 ('positivo', 4),
 ('positivo', 5),
 ('positivo', 6),
 ('negativo', -7),
 ('positivo', 8),
 ('negativo', -9),
 ('positivo', 10)]

##Listas por compresión
Son expresiones que generan listas
Sintaxis:
```
nombre_lista=[expresion for variable in iteración if_condición]
```

Ejemplos

In [19]:
#1. Convertir una lista de oraciones en una lista de palabras
oracion=["Aqui va una oracion"," Aqui va otra oracion", "Aqui va la tercera oracion"]
len(oracion)

3

In [20]:
palabras=[i.split()for i in oracion]
palabras

[['Aqui', 'va', 'una', 'oracion'],
 ['Aqui', 'va', 'otra', 'oracion'],
 ['Aqui', 'va', 'la', 'tercera', 'oracion']]

In [25]:
len(palabras[2])

5